<!DOCTYPE html>

<html>
<head>
    <title>Confirm Account Email</title>
</head>
<body>

    <p>Dear {userName}!</p>
    <p>
        Thank you for your registration!
    </p>
    <p>
        In order to complete it, you need to confirm your account. In order to do this, please click this link: {callbackUrl}
    </p>
    <p>Thank you!</p>
    <p>Team Maslshop</p>
</body>
</html>
