<!DOCTYPE html>

<html>
<head>
    <title>Order Cancelled Confirmation Email</title>
</head>
<body>
<p>Witaj {userName}!</p>
<p>
    Chcielibyśmy Cię poinformować, że dyspozycja anulowania zamówienia nr {orderId} została przyjęta i zaakceptowana.
    <br />
<p>Zespół Maslshop</p>
</body>
</html>
