<!DOCTYPE html>

<html>
<head>
    <title>Order Cancelled Confirmation Email</title>
</head>
<body>
<p>Dear {userName}!</p>
<p>
    We would like to inform you that order no {orderId} has been cancelled.
    <br />
<p>Team Maslshop</p>
</body>
</html>
