@{
    ViewBag.Title = "Maslshop - Confirm Email";
}
<div id="view-account">
    <h1>Confirm Email</h1>
    <hr />
    <p>
        Thank you for confirming your email. Please <strong>@Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong>
    </p>
</div>

