@model Maslshop.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Maslshop - Reset your password";
}
<div id="view-account">
    <h1>Reset your password</h1>
    <hr />
    <h2>Enter your email in order to receive password reset link</h2>
    <hr />
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    }
</div>

