@{
	ViewBag.Title = "Maslshop - Forgotten Password Confirmation";
}
<div id="view-account">
	<h1>Forgotten Password</h1>
	<hr/>
	<p>
		Please check your email to reset your password.
	</p>
</div>

	
