@{
    ViewBag.Title = "Maslshop - Reset Password Confirmation";
}
<div id="view-account">
    <h1>Password Reset Confirmation</h1>
    <hr />
    <p>
        Your password has been reset successfully. Please <strong>@Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong>
    </p>
</div>
