<!DOCTYPE html>

<html>
<head>
    <title>Password Reset Email</title>
</head>
<body>

<p>Dear {userName}!</p>
<p>
    We have been informed that you would like to reset your password.
</p>
<p>
    In order to do this, please click this link: {callbackUrl}
</p>
<p>If you have not requested such action, please ignore this email.</p>
<p>Team Maslshop</p>
</body>
</html>
