<div class="small-box left-nav-categories hidden-xs">
    <div class="inner-box title">
        <a href="@Url.Action("Index", "Manage")">My Account</a>
    </div>
    <div class="inner-box">
        <ul class="list">
            <li class="menu-special-offers">
                <a href="@Url.Action("Index", "Manage")" title="Personal Information">Personal Information</a>
            </li>
            <li>
                <a href="@Url.Action("UserOrders", "Manage")" title="My Orders">My Orders</a>
            </li>

        </ul>
    </div>
</div>
