@model Maslshop.Models.ViewModels.Product.ProductsListViewModel

@using (Html.BeginForm("SearchProducts", "Product", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group" id="SearchBar">
        <div class="input-group" id="mobile-searchbar-medium">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by the name etc..." })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="SearchButton">Search</button>
            </span>
        </div>
    </div>
}
