<div class="small-box left-nav-categories hidden-xs">
    <div class="inner-box title">
        <a href="/">Buy Bullion</a>
    </div>
    <div class="inner-box">
        <ul class="list">
            <li class="menu-special-offers">
                <a href="/" title="Recently Added">Recently Added</a>
            </li>
            @Html.Action("CategoriesList", "Category")
            <li>
                <a href="@Url.Action("About", "Info")" title="About Us">About Us</a>
            </li>
        </ul>
    </div>
</div>


<script>
    $('.list > li a').click(function () {
        $(this).parent().find('ul').toggle();
    });
</script>
