@{
    ViewBag.Title = "Maslshop - Checkout Complete";
}

<div id="view-account">
    <h1>Thank you for placing the order!</h1>
    <hr/>
    <h2>Please check your email for confirmation of your order</h2>
    <hr/>
    <a href="@Url.Action("Index", "Home")" class="btn btn-success"><span class="glyphicon glyphicon-arrow-right"></span> Continue</a>   
</div>

