@model Maslshop.Models.ViewModels.Info.AboutViewModel

@{
    ViewBag.Title = Model.Heading;
}
<div id="view-account">
    <h1>Malshsop - About Us</h1>
    <hr />
    <p>This page was created by <strong>Pawel Maslak</strong></p>
    <p>Contact details:</p>
    <p>Telephone: +44 0785 200 7567 (United Kingdom) or +48 795 904 763 (Poland)</p>
    <p>Email Address: <a href="mailto:maslak.pawel89@gmail.com" style="text-decoration: underline blue">maslak.pawel89&#64;gmail.com</a></p>
</div>

