
body {
    background-image: url(/Content/Images/texture.png);
    font-size: 16px;
}

/*Screen width overrides*/

/*@media (min-width: 1200px) {
    .col-lg-2 {
        width: 16.66666667%;
        float: left;
    } 
}*/

/*@media (min-width: 992px) {
    .col-md-3 {
        width: 33%;
        float: left;
    }
}*/

/*@media (min-width: 768px) {
    .col-sm-3 {
        width: 25%;
        float: left;
    }
}*/

@media (max-width: 1199px) and (min-width: 992px) {
    #header .logo img {
        max-width: 100px !important;
    }

    #header .logo .bbp {
        font-size: 3.5em !important;
        margin-left: 9px !important;
        margin-top: 19px !important;
    }

    #header .logo .tagline {
        margin-left: 20px !important;
        margin-top: 11px !important;
        font-size: 1.7em !important;
    }

    #header .logo .delivery-tagline {
        margin-left: 60px !important;
        font-size: 1.2em !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #header .logo img {
        max-width: 90px !important;
    }

    #header .logo .bbp {
        font-size: 2.5em !important;
        margin-left: 9px !important;
        margin-top: 17px !important;
    }

    #header .logo .tagline {
        margin-left: 8px !important;
        margin-top: 8px !important;
        font-size: 1.5em !important;
    }

    #header .delivery-tagline {
        font-size: 1em !important;
        margin-left: 42px !important;
    }
}


@media (max-width: 767px) {
    .text-xs-center {
        text-align: center !important;
    }

    .mobile-logo div img {
        display: block;
        height: 55px;
        margin: 12px auto;
        float: left;
    }

    .mobile-logo {
        overflow: hidden;
        white-space: nowrap;
    }

        .mobile-logo #inner {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
        }

        .mobile-logo .img-center {
            display: block;
            height: 75px;
            padding-top: 12px;
            margin-left: auto;
            margin-right: auto;
        }

        .mobile-logo p {
            color: #393b41;
            letter-spacing: .068em;
            font-size: 2em;
            margin-left: auto;
            margin-right: auto;
        }

            .mobile-logo p .gold {
                color: #ca9200;
            }
}

/*Account Manage Page*/

#accounts-login, #view-account {
    font-size: .875em;
}

h1 {
    font-size: 1.875em;
    margin-top: 10px;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 0;
}

#view-account hr {
    margin-top: 0;
}

#view-account th {
    width: 30%;
}

#view-account .personal-information {
    margin-bottom: 20px;
}

#view-account .link > a {
    color: blue !important;
}

#view-account .form-group {
    margin-left: 0;
}
/*Main-Headers*/

#main-headers h1 {
    font-size: 1.625em;
    margin: 0; 
}

#main-headers hr {
    margin-top: 0;
    margin-bottom: 20px;
}

/*Selected Product View Styles*/

#view-product h1 {
    font-size: 1.625em;
    margin: 0;
}

#view-product hr {
    margin-top: 0;
    margin-bottom: 20px;
}

.product-details {
    font-size: 1em;
}

#body-content {
    margin-bottom: 15px;
    min-height: 100vh;
}

/*Products list style*/

#ProductsList .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #ffffff
}

/*Basket*/

#empty-basket {
    margin-top: 10px;
}

/*Side nav styles*/
#left-column div {
    margin-bottom: 10px;
}

.small-box {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    overflow: hidden;
    margin: 0 0 20px;
    padding: 0;
    border-radius: 4px;
}

#left-column .left-nav-categories {
    font-size: .813em;
    line-height: 1.3em;
    text-align: left !important;
}

    #left-column .left-nav-categories ul {
        padding: 0;
        margin: 0;
    }

        #left-column .left-nav-categories ul li {
            padding: 0;
            list-style-type: none;
            background-color: #fff;
        }

    #left-column .left-nav-categories > .inner-box > ul > li > ul > li a {
        padding: 6px 2px 6px 14.4px;
    }

    #left-column .left-nav-categories ul li a {
        display: block;
        padding: 6px 2px 6px 12px;
        color: #222;
        border-bottom: 1px solid #f1f1f1;
    }

    #left-column .left-nav-categories ul li.menu-special-offers a {
        color: #d21d1d;
    }

    #left-column .left-nav-categories ul li.menu-special-offers ul > li > a {
        color: black;
    }

    #left-column .left-nav-categories .selected > a {
        font-weight: 700;
        color: #daa958;
    }

    #left-column .left-nav-categories > .inner-box > ul > li {
        background-color: #f1f1f1;
        border-bottom: 1px solid #d5d5d5;
    }

    #left-column .left-nav-categories .title {
        background-color: #9f9f9f;
        padding: 6px 12px !important;
    }

        #left-column .left-nav-categories .title a {
            color: #fff;
        }

    #left-column .left-nav-categories .inner-box {
        padding: 0;
        margin-bottom: 0;
    }

ul li ul {
    display: none;
}





/* Top bar styles */

#top-bar {
    background-color: #f1f1f1;
    border-bottom: 1px solid #d5d5d5;
    height: 31px;
    line-height: 30px;
    overflow: hidden;
}

    #top-bar ul.links {
        height: 30px;
        list-style: none;
        padding-left: 0;
    }

        #top-bar ul.links li {
            float: right;
            margin-left: 1em;
        }

            #top-bar ul.links li a {
                color: #6f6f6e;
                font-size: .875em;
            }

            #top-bar ul.links li .btn {
                color: #fff;
                margin-top: -2px;
            }

#top-bar-links a:hover {
    text-decoration: underline;
}

/*Header*/

header.mobile-header {
    background-color: #fff;
}

.mobile-logo div img {
    display: block;
    height: 55px;
    margin: 12px auto;
    float: left;
}

.mobile-logo div p {
    color: #393b41;
    letter-spacing: .068em;
    font-size: 2em;
    float: left;
    margin-top: 21px;
    margin-left: 7px;
    text-align: center;
}

    .mobile-logo div p .gold {
        color: #ca9200;
    }

#header .center-column {
    text-align: center;
}

    #header .center-column p.phone {
        margin-top: 10px;
        font-size: 2em;
        line-height: 40px;
    }

#header .logo {
    margin-top: 10px;
}

    #header .logo a img {
        /*display: inline-block;*/
        max-width: 150px;
        float: left;
        margin-top: 13px;
    }

    #header .logo a p {
        color: #393b41;
    }

        #header .logo a p.tagline {
            font-size: 1.8em;
            margin-left: 31px;
            float: left;
            clear: both;
            margin-top: 0;
        }

        #header .logo a p.delivery-tagline {
            font-size: 1.2em;
            margin-left: 31px;
            float: left;
            clear: both;
            margin: 0 0 0 85px;
            letter-spacing: .6px;
        }

        #header .logo a p.bbp {
            font-size: 4em;
            float: left;
            margin-left: 14px;
            margin-top: 24px;
            margin-bottom: 0;
            letter-spacing: .068em;
        }

            #header .logo a p.bbp .gold, #header .logo a p.tagline .gold {
                color: #ca9200;
            }

header.mobile-header .mobile-menu-holder {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #f1f1f1;
}

    header.mobile-header .mobile-menu-holder .mobile-menu .mobile-menu-button {
        width: 50%;
        float: left;
        display: block;
        text-align: center;
        font-size: .75em;
        padding: 4px;
    }

        header.mobile-header .mobile-menu-holder .mobile-menu .mobile-menu-button img {
            width: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

header.mobile-header .mobile-panels-holder {
    background-color: #fff;
}

/*SearchBar*/

#SearchBar {
    margin-bottom: 0 !important;
    margin-top: 10px;
}

#SearchButton {
    padding: 6px 18px !important;
}

#SearchTerm {
    max-width: 100%;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group .input-group {
    width: 70%;
    float: right;
}

/*Mobile Navbar-ver 1.1*/

.navbar {
    margin-bottom: 0;
}

.container-fluid {
    font-size: 14px;
}

.navbar-toggle {
    float: none;
    margin-right: 0;
    padding: 0;
    margin-top: 0;
}

/*Mobile Navbar*/

#mobilelogin {
    margin: auto;
}

.menu {
    margin: 0 30px 0 30px;
    text-align: center;
    display: none;
}


    .menu a {
        /*color: white;*/
        margin: 0;
        line-height: 70px;
        display: block;
        border-bottom: 1px solid #d5d5d5;
    }

        .menu a span {
            color: red;
        }

label {
    display: block;
    cursor: pointer;
}

#toggle_menu,
#toggle_login {
    display: none;
}

    #toggle_menu:checked + .menu {
        display: block;
        background-color: #f1f1f1;
    }

    #toggle_login:checked + .menu {
        display: block;
        background-color: #f1f1f1;
    }

.show {
    display: block;
}

.dropdown-menu > li {
    font-size: 12px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
    color: #ca9200;
    font-weight: 700;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
    color: #ca9200;
    font-weight: 700;
}
/*Navbar*/

#ReturnAction {
    text-decoration: none !important;
}

nav #menu {
    border-bottom: 1px solid #d5d5d5;
    color: #fff;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    margin-top: 10px;
}

nav #nav-footer {
    color: #474747;
    border: 1px solid #d5d5d5;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    height: 31px;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: .813em !important;
}

.grey-background {
    background-color: #f1f1f1;
}

.home-icon-link {
    text-decoration: none;
}

nav #nav-footer .home-icon-link .home {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 24px;
}

nav #loginLink {
    color: #474747;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 1em !important;
}

nav #span {
    padding-top: 2px;
}

nav #nav-footer a .asd {
    color: #474747;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 1.1em;
}

.glyphicon-home {
    font-size: 1.5em;
    top: -1px;
}

.box-icon {
    float: left;
    text-decoration: none;
    color: #474747;
}

.box {
    float: left;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 2px;
    text-decoration: underline;
}

nav #menu ul {
    height: 30px;
    list-style: none;
    padding-left: 0;
}

    nav #menu ul li {
        border: 1px solid #d5d5d5;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        float: left;
        margin-right: 5px;
        width: 100px;
        background-color: #9f9f9f;
    }

        nav #menu ul li.green-wide {
            background-color: #57b157;
        }

        nav #menu ul li.blue-wide {
            background-color: #5687bb;
        }

        nav #menu ul li.wide a {
            padding: 0 20px;
        }

        nav #menu ul li a {
            display: block;
            font-size: .875em;
            color: #fff;
            padding: 0 10px;
            text-align: center;
        }



/*Buttons Overrides*/

.btn-xs {
    padding: 1px 5px;
    line-height: 1.5;
    border-radius: 3px;
}

/* Body Overrides */
.body-content {
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body > .container {
    background-color: white;
    /*padding-bottom: 20px;*/
    box-shadow: 12px 0 30px -10px #d3d3d3, -12px 0 30px -10px #d3d3d3;
}

.footer {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    position: page;
    width: 100%;
    background: gray;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap Overrides*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

    a:hover, a:focus {
        color: black;
        text-decoration: none;
    }

.list-group {
    padding-left: 0;
    width: 150px;
    margin-bottom: 1px;
}

td {
    height: 20px;
    vertical-align: bottom;
}

.abc {
    text-align: center;
}

.table {
    list-style: none;
}

    .table thead > tr > th {
        text-align: center;
        font-size: 16px;
    }

.btn2 {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 9px;
    user-select: none;
}

.category-panel {
    height: 260px;
}

.medium-box {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #d5d5d5;
    overflow: hidden;
    margin: 0 4px 20px;
    padding: 0;
}

.image {
    height: 145px;
    padding: 10px 42px;
    line-height: 115px;
    text-align: center;
}

.thumbnail-image {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.inner-box {
    position: relative;
    padding: 4px;
    height: 118px;
}*/

.bottom {
    bottom: 10px;
    position: absolute;
    width: 96%;
}

.grey-background {
    position: relative;
    padding: 4px;
    height: 120px;
    background-color: #f1f1f1;
}

#accounts-referrals .category-panel .referral-panel p.name a, #accounts-referrals .category-panel .referral-panel-home p.name a, .category-panel #accounts-referrals .referral-panel p.name a, .category-panel #accounts-referrals .referral-panel-home p.name a, .category-panel .grey-background p.name a, .category-panel .horizontal-table tr th p.name a, .horizontal-table tr .category-panel th p.name a {
    font-size: 16px;
    line-height: 1.3em;
    overflow: hidden;
    display: block;
    max-height: 48px;
    color: #474747;
    text-align: center;
    padding-top: 1px;
}

.category-panel .grey-background p.from, .category-panel .horizontal-table tr th p.from, .horizontal-table tr .category-panel th p.from {
    font-size: 1.25em;
    text-align: center;
    margin: -2px;
}

.category-panel .grey-background p.stock-message, .category-panel .horizontal-table tr th p.stock-message, .horizontal-table tr .category-panel th p.stock-message {
    margin-bottom: 8px;
    line-height: 10px;
    pointer-events: none;
    text-align: center;
}

.category-panel .grey-background .btn, .category-panel .horizontal-table tr th .btn, .horizontal-table tr .category-panel th .btn {
    padding: 2px 15px;
    height: 26px;
    width: 60%;
}

.center-block {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}

.center-block2 {
    display: block;
    margin: auto;
}

/*Modal Styles*/

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

    .myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: white; /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    border: none;
    border-radius: 0;
    width: 80%;
    max-width: 700px;
    box-shadow: none;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #999999;
    font-size: 20px;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 365px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
